
footer {
	background-color: #f5f5f5;
	padding: 30px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
    bottom: 0;
    width: 100%;
	margin-top: 194px;
}

.contact {
	flex: 1;
	margin-right: 50px;
}

.link-uri {
	flex: 1;
}

.link-uri ul {
	list-style: none;
	padding-left: 0;
}

.link-uri li {
	margin-bottom: 10px;
}

.link-uri a {
	color: #000;
	text-decoration: none;
}