main {
	margin: 0 auto;
	max-width: 1200px;
}


.button {
	background-color:white;
	color:#000;
	padding: 10px 20px;
	border-radius: 25px;
	text-decoration: none;
	display: inline-block;
	margin-top: 10px;
}
.cursuri{
    font-family: "Roboto", Sans-serif;
    font-weight: 600;
    color:#fff;
    padding: 10%;
    
}
.cursuri ul{
    border: 0;
    font-size: 100%;
    font-style: inherit;
    font-weight: inherit;
    margin: 0;
    outline: 0;
    padding: 0;
    vertical-align: baseline;
}
.cursuri li{
    margin-bottom: 10px;
}
.cursuri span{
    color: orange;
    margin: 5px;
    padding: 15px;

}

.form-exemple h1{
    color:orange;
    margin-left: 35%;
    
}

.form-exemple{
    text-align:left;
    color: lightgrey;
    float: right;
    font-size: x-large;
}
.form-exemple a{
    color: orange;
}