html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* start style.css */

body{
    font-size: 16px;
    background-image: url(img/dsa.gif);
    background-size: 100%;
}
header {
	background-color: #000;
	color: #fff;
	display: flex;
	justify-content: space-around;
    padding: 10px;
    position: fixed;
    width: 100%;
    z-index: 1000;
    align-items: center;
}

.logo {
    display: flex;
    justify-content: center;
}
nav{ 
    width: 30%;
}

nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
    display: flex;
    justify-content: space-around;
    
}

nav a {
	color: #fff;
	text-decoration: none;
    font-size: large;
}
/* cubul rotitor */
.text-center {
    margin-top: 56px;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
}
  
  #cube-container {
    width: 450px;
    height: 300px;
    margin: 80px auto;
    perspective: 800px;  
    display: flex; 
     
   
}
  
  #cube-container:before {
    content: '';
    position: absolute; 
    top: 90px;
    left: 0;
    width: 100%; 
    height: 100%; 
    box-shadow: 0 0 75px 20px rgba(0, 0, 0, 0.1), inset 0 0 350px 350px rgba(0, 0, 0, 0.1);  
    transform: rotateX(95deg) translateZ(-80px) scale(1);  
    animation: rotateShadow 16s infinite;  
}
  
  .cube { 
    height: 100%;
    width: 100%;
    position: relative;
    transform-style: preserve-3d;       
    transition: all 0.8s ease-in-out;    
    animation: none; 
    display: flex;
    justify-content: flex-end;
    bottom: 275px;
    margin-left: 175%;
}
  
  .cube img {
    position: absolute;
    width: 450px;
    height: 300px;      
    backface-visibility: hidden;    
    animation: slide 9s infinite; /* schimbare imagine la fiecare 3 secunde */
}
  
  .cube img:nth-child(1) {
    transform: rotateY(0deg) translateZ(150px);
    animation-delay: 0s; /* prima imagine incepe de la 0 secunde */
    animation-fill-mode: forwards;
  }
  .cube img:nth-child(2){
        transform: rotateY(90deg) translateZ(150px);
        animation-delay: 3s; /* a doua imagine incepe la 3 secunde */
        animation-fill-mode: forwards;  
 }
      .cube img:nth-child(3) {
        transform: rotateY(180deg) translateZ(150px);
        animation-delay: 6s; /* a treia imagine incepe la 6 secunde */
        animation-fill-mode: forwards;
  }
      
      .cube img:nth-child(4) {
        transform: rotateY(-90deg) translateZ(150px);
        animation-delay: 9s; /* a patra imagine incepe la 9 secunde */
        animation-fill-mode: forwards;
   }

  @keyframes slide {
    0% { transform: rotateY(0deg); }    
    25% { transform: rotateY(90deg); }   
    50% { transform: rotateY(180deg);} 
    75% {  transform: rotateY(270deg); }  
    100% { transform: rotateY(360deg); }
}
  
  @keyframes slideshadow {
    0% { transform:  rotateX(95deg) translateZ(-80px) scale(1) rotateZ(360deg); }    
    25% { transform:  rotateX(95deg) translateZ(-80px) scale(1) rotateZ(270deg); }   
    50% { transform:  rotateX(95deg) translateZ(-80px) scale(1) rotateZ(180deg);} 
    75% {  transform: rotateX(95deg) translateZ(-80px) scale(1)  rotateZ(90deg); }  
    100% { transform: rotateX(95deg) translateZ(-80px) scale(1)  rotateZ(0deg); }
}
