body {
    font-family: Arial, sans-serif;
    width: 1200px;
  }
  
  nav {
    background-color:goldenrod;
    color:#fff;
    display: flex;
    justify-content: center;
  }
  
  nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  nav li {
    margin: 0 20px;
  }
  
  nav a {
    color: #8e0000;
    text-decoration: none;
    text-transform: uppercase;
  }
  
  nav a:hover {
    color: #f7b500;
  }
  
  main {
    width: 1200px;
    margin: 0 auto;
    padding: 40px;
  }
  
  section {
    margin-bottom: 40px;
    width: 1200px;
  }
  
  h1 {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 20px;
    color:black;
    width: 1200px;
  }
  
  h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    width: 1200px;
  }
  
  p {
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 20px;
    width: 1200px;
    color:rgb(255, 0, 0);
    font-style: oblique;
  }
