
body {
    background-image: url(inmultirea.jpg);
    
  }
  
  h1 {
    text-align: center;
    font-style: oblique;
  }
  
  table {
    border-collapse: collapse;
    margin: 0 auto;
  }
  
  th, td {
    border: 1px solid #000000;
    padding: 20px;
    text-align: center;
  }
  
  th {
    background-color:ivory;
  }
  td:nth-child(2n) {
    background-color: #f2f2f2;
  }
  
  td:nth-child(3n) {
    background-color: #e6f2ff;
  }
  
  td:nth-child(4n) {
    background-color: #ccf2ff;
  }
  
  td:nth-child(5n) {
    background-color: #b3e6ff;
  }
  
  td:nth-child(6n) {
    background-color: #99d9ff;
  }
  
  td:nth-child(7n) {
    background-color: #80ccff;
  }
  
  td:nth-child(8n) {
    background-color: #66b3ff;
  }
  
  td:nth-child(9n) {
    background-color: #4da6ff;
  }
  
  td:nth-child(10n) {
    background-color: #3399ff;
  }
  td:nth-child(11n) {
      background-color:#188bfe;
    }