body{
    margin-top: 10%;
    padding-right: 55%;
    float: right;
}

table {
    border-collapse: collapse;
    width: 250%;
}

th, td {
    padding: 8px;
    text-align: left;
}

thead tr:nth-child(1) {
    background-color: lightgreen;
}

tbody tr:nth-child(even) {
    background-color: lightgray;
}

tbody tr:nth-child(odd) {
    background-color: white;
}

th:first-child {
    background-color: lightgreen;
}

tbody tr:nth-child(even) {
	background-color: lightgreen;
}

tbody tr:nth-child(odd) {
	background-color:lightgrey;
}